.confirmation-modal-content {
    background-color: white;
    padding: var(--space-8);
    border-radius: var(--border-radius-lg);
    width: 100%;
    max-width: 450px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.confirmation-modal-content h2 {
    margin-top: 0;
    margin-bottom: var(--space-4);
}

.confirmation-modal-content p {
    margin-bottom: var(--space-6);
    color: var(--color-gray-600);
}

.confirmation-modal-content .modal-actions .btn-danger {
    background-color: var(--color-danger);
    color: white;
}
